<div class="container">
    <div class="text-center"><button class="back " (click)='back()'>Back</button></div>
<div> 
    <table class="table table-strip text-center">
        
        <tr><td><b>User id: {{user.id}} </b></td></tr> 
        <tr><td><p>User name: {{user.username}} </p></td></tr> 
        <tr><td>    <p>User First Name: {{user.firstName}} </p> </td></tr> 
        <tr><td>  <p>User Last Name: {{user.lastName}} </p> </td></tr> 
        <tr><td><p>User Password: {{user.password}} </p> </td></tr> 
        <tr><td>   <p>User age: {{user.age}} </p> </td></tr> 
        <tr><td>   <p>User Phone: {{user.salary}} </p> </td></tr> 
    
    
 
   
</table>   
</div>
</div>
